{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>HVAC Controller</h1>
    </div>
    <div class="container">
        <form id="turnoff" action="/off" method="POST" enctype="multipart/form-data">
            <input class="btn" type="submit" value="Turn off"/>
        </form>
    </div>
    <div class="container">
      <h2>Settings</h2>
        <form action="/settings" enctype="multipart/form-data" id="form1" method="POST">
            <label for="temp">Temperature</label>
            <select id="temp" name= temp class="form-control">
                {% for temp in temps %}
                <option value="{{temp}}">{{temp}}</option>
                {% endfor %}
            </select>
            <label for="fan_mode">Fan mode</label>
                <select id="fan_mode" name= fan_mode class="form-control">
                    {% for fan_mode in fan_modes %}
                    <option value="{{fan_mode}}">{{fan_mode}}</option>
                    {% endfor %}
                </select>
            <label for="climate_mode">Fan mode</label>
            <select id="climate_mode" name= climate_mode class="form-control">
                {% for climate_mode in climate_modes %}
                <option value="{{climate_mode}}">{{climate_mode}}</option>
                {% endfor %}
            </select>
            <label for="vanne_horizontal_mode">Fan mode</label>
            <select id="vanne_horizontal_mode" name= vanne_horizontal_mode class="form-control">
                {% for vanne_horizontal_mode in vanne_horizontal_modes %}
                <option value="{{vanne_horizontal_mode}}">{{vanne_horizontal_mode}}</option>
                {% endfor %}
            </select>
            <label for="vanne_vertical_mode">Fan mode</label>
            <select id="vanne_vertical_mode" name= vanne_vertical_mode class="form-control">
                {% for vanne_vertical_mode in vanne_vertical_modes %}
                <option value="{{vanne_vertical_mode}}">{{vanne_vertical_mode}}</option>
                {% endfor %}
            </select>
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>
    <div class="container">
        <p>
        {{ message }}
        </p>
    </div>
{% endblock content %}
